/* frontend/src/styles/navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background: black;
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
  background: rgba(255,255,255,0.2);
  transform: scale(1.05);
}

.logout-btn {
  background:linear-gradient(90deg, #d633ff, #ff66c4);
  
  
  border: none;
  cursor: pointer;
}

.logout-btn:hover {
  background: linear-gradient(90deg, #ff77ff, #b57aff);
}